#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todoList {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
}

.todoList > li:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #777;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}
